<div class="container">
  
  <form action="" class="admin-form-login">
    <div class="form-group">
      <label for="login">Login</label>
      <input class="form-control" type="text" placeholder="login">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input class="form-control" type="password">
    </div>
    <button class="btn">submit</button>
  </form>
</div>