<div class="container">

  <div class="admin-form-login">
    <%= form_for(@adunit, url: account_adunit_path(@adunit.id), method: :patch) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, "name"  %>
        <%= f.text_field :name, placeholder: "please enter name for new adunit", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%=  f.submit "Submit", :disable_with => 'Submiting', class: "btn" %> 
      </div>
    <% end %>
  </div>

</div>