// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-form-login{
  width: 450px;
  padding: 10px;
  background: #bfbfbf;
  margin: 50px auto 0;
}