// for popup

.main-popup{
  position: relative;
  background: #fff;
  width: auto;
  max-width: 520px;
  margin: 20px auto;
  text-align: center;
}
.popup-form{
  padding: 15px;
}
.white-popup {
  min-height: 300px;
  text-align: center;
  border: 5px solid rgba(0,0,0,0.8);
  padding-bottom: 20px;
}
.white-popup fieldset {
  padding: 0;
  border: 0;
  font-size: 1.2em;
  margin: 40px 0 10px;
  text-align: center;
}
.white-popup label,
.white-popup input[type='text'],
.white-popup input[type='tel'] {
  text-align: left;
  display: block;
  margin-top: 5px;
  margin: 0 auto 30px;
  padding: 0.5em;
  border: 1px solid #cfcfcf;
  width: 70%;
  font-size: 20px;
}
.white-popup.ui-dialog .ui-state-error {
  padding: 0.3em;
}
.white-popup {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 520px;
  margin: 20px auto;
  text-align: center;
}
.white-popup__text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.popup__input {
  border: 1px solid #f4836c;
}
.popup__title {
  margin-top: 30px;
  margin-bottom: 30px;
}