<!DOCTYPE html>
<html>
  <head>
    <title>MyTargetApp</title>
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <!-- <div class="error-message">

        <p class="notice alert alert-info"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div> -->
    <%= yield %>
  </body>
</html>
