<div class="container">
  <div class="nav navbar-nav">
    <li><%= link_to "Add account", new_account_path %></li>
    <li><%= link_to "All accounts", accounts_path, method: :get %></li>
    <li><%= link_to '' %></li>
    <li><%= link_to '' %></li>
    <li><%= link_to '' %></li>
  </div>
  
</div>