<div class="container">
  <%= render partial: "nav" %>
  <div class="admin-form-login">
    <%= form_for(@account) do |f| %>
      <div class="form-group">
        <%= f.label :login, "Login"  %>
        <%= f.text_field :login, placeholder: "please enter login for new acc", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password"  %>
        <%= f.text_field :password, placeholder: "please enter password for new acc", class: "form-control" %>
      </div>
      <div class="form-group">
        <%=  f.submit "Submit", :disable_with => 'Submiting', class: "btn" %> 
      </div>
    <% end %>
  </div>

</div>