<div class="container">
  <div class="account-panel">
    <%= render partial: 'nav' %>
    
  </div>
  

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel All account</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>#id</th>
          <th>login</th>
          <th>add task for my target</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.id %></td>
            <td><%=  link_to account.login, account_path(account.id) %></td>
            <td><%= link_to("sync", accounts_tasks_start_path(account_id: account.id, params2: "test2"),remote: true, method: :post ) %> 
            </td>
            <td><span data-popup-account-id="<%= account.id %>" data-mfp-src="#popup-tasks" class="btn js-popup" style="border: 1px solid #000;">статусы задач</span></td>
            <td><%= link_to "Edit", edit_account_path(account.id) %></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

<section class="popup">
  <div id="popup-tasks" data-popup-id="" class="mfp-hide main-popup">
    <h2>account: <span class="popup_tasks_account_name"></span> </h2>
    <table class="table">
      <thead>
        <tr>
          <th>tasks</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody class="table_for_tasks">
        
      </tbody>
    </table>
    <button class="popup_tasks_update-btn btn">update</button>
  </div>
</section>


<script>
$(document).ready(function(){
  var popup_account_id;
  $("span[data-popup-account-id]").on('click', function(e){
    e.preventDefault();
    popup_account_id = $(this).attr('data-popup-account-id');
    var table_for_tasks = $(".table_for_tasks");
    table_for_tasks.find('tr').remove();
    var popup_tasks_account_name = $(".popup_tasks_account_name");
    popup_tasks_account_name.text(popup_account_id);
    console.log(popup_account_id);
  });
  $(".popup_tasks_update-btn").on('click', function(e){
    
    e.preventDefault();
    $.ajax({
      url: '/accounts/tasks/get_tasks_status',
      type: 'GET',
      data: {account_id: popup_account_id},
      success: function(data) {
        console.log(data);
        var table_for_tasks = $(".table_for_tasks");
        var row_task;
        table_for_tasks.find('tr').remove();
        $.each(data, function(key, task){
          row_task = $('<tr><td>' + task.app + '</td><td>' + task.status + '</td></tr>')
          .appendTo(table_for_tasks);
        });        
      }
    });
  });
});
</script>
