<div class="container">
  <%= render partial: 'nav' %>
  <h2>Add new account</h2>
  <div class="admin-form-login">
    <%=  form_for :account, url: accounts_path do |f| %>
    <div class="form-group">
      <%= f.label :login, "Login"  %>
      <%= f.text_field :login, placeholder: "please enter login for new acc", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password"  %>
      <%= f.text_field :password, placeholder: "please enter password for new acc", class: "form-control" %>
    </div>
    <div class="form-group">
      <%=  f.submit "Submit", :disable_with => 'Submiting...', class: "btn" %> 
    </div>
    <% end %> 
  </div>
</div>