<div class="container">
  <%= render partial: 'nav' %>
  <h2>account with id: <%= @account.id %></h2>
  <p>login: <%= @account.login %></p>
  <p>password: <%= @account.password %></p>
  <p><%= link_to "Edit", edit_account_path(@account.id) %></p>
  <p><%= link_to "Delete account", account_path(@account.id), method: :delete, data: {confirm: "Are you sure"} %></p>
  <button data-mfp-src="#test" class="js-popup btn">create new task</button>
  <button data-mfp-src="#tasksList" class="js-popup btn btn-warning">all tasks list</button>
</div>

<div class="container">
  
  <h2>New adunit</h2>
  <div class="admin-form-login">
    <%= form_for(:adunit, url: account_adunits_path(@account.id)) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, "name"  %>
        <%= f.text_field :name, placeholder: "", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%=  f.submit "Submit", class: "btn" %> 
      </div>
    <% end %>
  </div>

</div>

<div class="container">
  
  <h2>New app</h2>
  <div class="admin-form-login">
    <%= form_for(:app, url: account_account_apps_path(@account.id)) do |f| %>
      <div class="form-group">
        <%= f.label :description, "Description"  %>
        <%= f.text_field :description, placeholder: "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :link, "link"  %>
        <%= f.text_field :link, placeholder: "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%=  f.submit "Submit", class: "btn" %> 
      </div>
    <% end %>
  </div>

</div>

<div class="container">
  <h2>My apps</h2>
  <% @account.account_apps.each do |app| %>
    <ul>
      <li><%= app.id %></li>
      <li><%= app.description %></li>
      <li><%= app.link %></li>
    </ul>
  <% end %>  
  
</div>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel adunits</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>#id</th>
          <th>name</th>          
        </tr>
      </thead>
      <tbody>
        <% @account.adunits.each do |adunit| %>
          <tr>
            <td><%= adunit.id %></td>            
            <td><%= adunit.name %></td>            
            <td><%= link_to "Edit", edit_account_adunit_path(@account.id,adunit.id) %></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

<div class="popup"> 
  <div id="tasksList" class="mfp-hide main-popup">
    <h3>all tasks</h3>
    <% @account.task.each do |task| %>
    <div style="border: 1px solid #000;">
      <p>id: <%= task.id %></p>
      <p>status: <%= task.status %></p>
      <p><%= task.app %></p>
    </div>
    <% end %>
  </div>

  <div id="test" class="mfp-hide main-popup">
    <h3 class="popup-title">test</h3>
    
    <%= form_for(:task, url: tasks_create_path, html: {class: "popup-form"}, method: :get ) do |f| %>
      <div class="form-group">        
        <%= f.hidden_field( :account_id, value: "#{@account.id}" )%>

        <label for="" class="">Choose app</label>
        <%= f.select(:app, @account.account_apps.collect do |option|
          [option.description]          
        end,{}, {class: "form-control"}) %>

        
      </div>
      <div class="form-group">
        <label for="" class="">pad name</label>
        
      </div>
      <div class="form-group">
        

      </div>
      <div class="form-group">
        <%= button_tag( "Add additional pad name", {id: "testButton", data: {account_id: "#{@account.id}"}} ) %>       
      </div>
      <div id="extraFields" class="form-group">
        
      </div>
      
      <div class="form-group">
        <%=  f.submit "Submit", class: "btn" %> 
      </div>
    <% end %>
    
  </div>
</div>
